:any-link {
  color: inherit;
  display: inline-flex;
  text-decoration: 3em dotted overline;
}

:focus {
  text-shadow: 0 0 2ex;
  box-shadow: 0 0 1ex 1ex;
  outline: thick groove;
  text-decoration-style: dotted;
}

:hover {
  text-decoration-style: double;
}

* {
  box-sizing: border-box;
}

html {
  font-family: fantasy;
  font-size: max(3ch, 3vmax + 3vmin);
  line-height: 1.5;
}

body {
  margin: 1ch;
  overflow-wrap: anywhere;
}

article {
  align-items: center;
  contain: layout;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1ch;
}

a {
  display: inline-block;
}

samp {
  display: inline-block;
  font-size: 3em;
}

h1 {
  margin: 0;
  margin-inline-end: 1em;
  float: right;
  border-bottom: 1em dotted;
}